<%= form_for(@subject_set) do |f| %>
  <% if @subject_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject_set.errors.count, "error") %> prohibited this subject_set from being saved:</h2>

      <ul>
      <% @subject_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
