<h1>Listing subject_sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subject_sets.each do |subject_set| %>
      <tr>
        <td><%= subject_set.name %></td>
        <td><%= subject_set.note %></td>
        <td><%= link_to 'Show', subject_set %></td>
        <td><%= link_to 'Edit', edit_subject_set_path(subject_set) %></td>
        <td><%= link_to 'Destroy', subject_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject set', new_subject_set_path %>
